@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import "reset.css";
@import "variables.css";
@import "components/screen-header.css";
/* Components*/
@import "components/badge.css";
@import "components/no-mobile.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alte-screen-header.css";
/* screen*/
@import "screen/login.css";
@import "screen/more.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/settings.css";
@import "screen/chat.css";
body {
  font-family: "Lato", sans-serif;
  height: 1000vh;
  color: #2e363e;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
